.khan{
    padding-top: 105px;
    background-color: #f2f2f2;
  }

  .khan__container{
    max-width: 80%;
    margin: 0 auto 0 auto;
  }

  .khan__author{
    margin: 0;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
  
  }

  .khan__title{
    margin: 0 0 50px 0;
    line-height: 1.15;
    font-size: 60px;
    font-weight: 600;
  
  }

  .khan__quote{
    width: 790px;
    margin: 0 0 36px 0;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
  }

  .khan__quote-author{
    margin: 0 0 10px 0;
    line-height: 1.15;
    font-size: 24px;
    font-weight: 600;
  }

  .khan__quote-author-subline{
    margin: 0 0 68px 0;
    line-height: 1.15;
    font-size: 24px;
    font-weight: normal;
  
  }

  .khan__book-container{
    display: flex;
  }

  .khan__book-pic{
    width: 620px;
    height: 608px;
    margin: 0;
    object-fit: cover;
    object-position: top;
  }

  .khan__buy-link{
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    color: #2f80ed;
    margin: 0 0 0 48px;
    transition: opacity .3s
  }

.khan__buy-link:hover{
  opacity: .5;
}