.two-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
    max-width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  .two-columns__brief {
    flex-basis: 175px;
    color: #2f80ed;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    flex-direction: row-reverse;
  }

  .two-columns__main-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 80%;
    min-width: 784px;
  }

  .two-columns__paragraph {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin: 0 0 30px 0;
  }

  .two-columns__paragraph:last-of-type{
    margin-bottom: 0;
  }

  .two-columns__span-accent {
    line-height: 34px;
    font-size: 24px;
    font-weight: 600;
  }